:root {
  --scale-nav: -100%;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
}
body {
  margin: 0;
  font-family: sans-serif;
}

.navBar {
  width: 100%;
  height: 64px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}
@media screen and (width > 768px) {
  .navBar {
    justify-content: space-between;
    gap: 60px;
    height: 96px;
    padding: 0 40px;
  }
}

.burger-menu {
  position: absolute;
  top: 24px;
  left: 32px;
}
@media screen and (width > 768px) {
  .burger-menu {
    display: none;
  }
}

.menu-items {
  display: none;
}
@media screen and (width > 768px) {
  .menu-items {
    display: flex;
  }
}

.nav-menu {
  position: absolute;
  width: 80%;
  height: calc(100vh - 64px);
  top: 64px;
  left: 0;
  background-color: #333a44;
  translate: var(--scale-nav);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 64px 32px 24px 32px;
  color: white;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}
@media screen and (width > 768px) {
  .nav-menu {
    position: relative;
    left: auto;
    top: auto;
    width: auto;
    height: auto;
    background-color: transparent;
    color: black;
    translate: 0;
    flex-direction: row;
    align-items: center;
    padding: 0;
    transition: all 0;
    width: 100%;
  }
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: white;
}
@media screen and (width > 768px) {
  .nav-list {
    flex-direction: row;
    gap: 32px;
    color: black;
  }
}

.nav-button {
  background-color: #fcb72a;
  border: none;
  padding: 14px 39px;
}
.nav-button > span {
  color: white;
}

.container-home {
  width: 100%;
  height: 100vh;
  background-image: url("/assets/images/home-hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 32px;
  text-align: center;
}

.container-page {
  padding: 120px 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 48px;
}

.container-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container-group-services {
  display: flex;
  flex-direction: column;
}

.services-image {
  border-radius: 50%;
}

.app-download {
  width: 100%;
  height: 320px;
  background-color: #495567;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.group-app-store {
  display: flex;
  gap: 12px;
}

.social-footer {
  width: 100%;
  height: 438px;
  background-color: #333a44;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.page-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}

.social-links {
  display: flex;
  gap: 24px;
}
